<div class="about-main">
  <div class="container">
    <h1 class="text-center">Relive your favorite memories</h1>
  </div>
</div>

<div class="about-supporting">
  <div class="container">
    <h2 class="text-center">No more sorting through photos</h2>
    <p class="text-center">Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways</p>
    <p class="text-center"><%= link_to "Sign up", new_signup_path, :'data-turbolinks' => "false", :class => "btn btn-primary", :role => "button" %></p>
  </div>
</div>