

<div class="home-main">
  <div class="container">
    <h1 class="text-center">Create and Share Stories</h1>
    <p class="text-center"><%= link_to "Learn More", about_path, class: "btn btn-primary", :'data-turbolinks' => "false", role: "button" %></p>
  </div>
</div>

<div class="home-supporting">
  <div class="container">
    <h2 class="text-center">Relieve and share your adventures</h2>
    <p class="text-center">Stories automatically creates a digital journal filled with your best photos</p>
  </div>
</div>

<div class="home-secondary">
</div>

<div class="home-discovery">
  <div class="container">
    <h2 class="text-center">Discover Stories</h2>
    <p class="text-center"><%= link_to "Learn More", about_path, class: "btn btn-primary", :'data-turbolinks' => "false", role: "button" %></p>
  </div>
</div>